:root {
  --primary-color: #0066f5;
  --primary-color-mid: #0a2e65;
  --secondary-color: #dfe3ff;
  --secondary-color-mid: #6c82a3;
  --white: #ffffff;
  --black: #000000;
}
@font-face {
  font-family: "Grotesk-heading";
  src: url(../../fonts/PowerGrotesk-Regular.ttf) format(truetype);
  font-weight: 900;
}

@font-face {
  font-family: "Agane-paragraph";
  src: url(../../fonts/Euclid\ Circular\ B\ Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roblox-logotype";
  src: url(../../fonts/Roblox\ Font\ Regular.ttf) format(truetype);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* percentage of user's browser font-size setting */
  font-size: 62.5%;

  /* for the transition horizontally */
  overflow-x: hidden;
}

/* @font-face {
  font-family: "Power Grotesk";
  src: url("../../fonts//PowerGrotesk-Regular.otf") format("otf"),
    url("../../fonts//PowerGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
} */

body {
  /* /* font-family: Arial, sans-serif; */
  /* font-family: Montserrat !important; */
  font-family: "Agane-paragraph", Montserrat !important;
  line-height: 1;
  font-weight: 400;
  color: var(--secondary-color-mid);

  /* for the transition horizontally */
  /* (only works if there's nothing absolutely positioned in relative to the body) */
  overflow-x: hidden;
}

/********************/
/* GENERAL REUSEABLE COMPONENTS */
/********************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

/* .grid:not(:last-child) {
  margin-bottom: 9.6rem;
} */

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-vertically {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: var(--primary-color-mid);
  letter-spacing: -0.5px;
  font-family: "Grotesk-heading", Montserrat;
}

.heading-primary {
  font-size: 9.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-top: 4.4rem;
  margin-bottom: 4.6rem;
  color: var(--primary-color-mid);
  text-align: center;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: var(--primary-color-mid);
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.7px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 400;

  /* Only necessary for the .btn itself */
  cursor: pointer;
  border: none;
  font-family: inherit;
  box-shadow: 0 4px 6px 1px rgba(0, 102, 245, 0.18) !important;
}

.btn--CTA:link,
.btn--CTA:visited {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn--outline:link,
.btn--outline:visited {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 1.6rem 4.5rem;
  box-shadow: 0px 0px 0px !important;
}

.hero .btn--CTA:hover,
.hero .btn--CTA:active {
  background-color: var(--primary-color);
  color: var(--white);
}

.hero .btn--outline:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.cta-text-box .btn--form {
  background-color: var(--primary-color);
  color: var(--white);
  align-self: end;
  padding: 1.2rem;
  border-radius: 9px;
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 3rem;
}

.cta-text-box .btn--form:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
* footer:focus {
  outline: none;

  /* !styling outline */
  /* ?outline: 4px dotted var(--secondary-color);
  ?outline-offset: 8px; */
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--primary-color-mid);
}

.position-btn {
  align-items: center;
  justify-content: center;
}

/********************/
/* TRICK TO ADD BORDER INSIDE OF AN ELEMENT */
/********************/

.link:link,
.link:visited {
  color: var(--primary-color-mid);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: var(--primary-color-mid);
  border-bottom: 1px solid transparent;
}

/********************/
/* HELPER/SETTINGS CLASSES */
/********************/

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

.light {
  font-weight: lighter;
}

.direct-signup {
  list-style: none;
  margin: 0;
}
